In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('zillow.csv')
df

,latitude,longitude,floorSize,url,price
0,40.753036,-73.96717,879,https://www.zillow.com/homedetails/865-United-...,"$975,000"
1,40.653957,-73.96155,410,https://www.zillow.com/homedetails/353-Ocean-A...,"$399,000"
2,40.741700,-73.99820,550,https://www.zillow.com/homedetails/210-W-19th-...,"$760,000"
3,40.682350,-73.93008,"3,000",https://www.zillow.com/homedetails/418-Macdono...,"$2,100,000"
4,40.770800,-73.95440,"2,300",https://www.zillow.com/homedetails/363-E-76th-...,"$2,999,999"
...,...,...,...,...,...
101,40.652927,-73.95564,772,https://www.zillow.com/homedetails/2107-Bedfor...,"$595,000"
102,40.638950,-73.95507,"1,650",https://www.zillow.com/homedetails/31-Stephens...,"$1,349,000"
103,40.778316,-73.97942,700,https://www.zillow.com/homedetails/126-W-73rd-...,"$648,000"
104,40.682350,-73.93008,"3,000",https://www.zillow.com/homedetails/418-Macdono...,"$2,100,000"
105,40.677800,-74.00147,700,https://www.zillow.com/homedetails/98-Luquer-S...,"$679,000"

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   106 non-null    float64
 1   longitude  106 non-null    float64
 2   floorSize  106 non-null    object
 3   url        106 non-null    object
 4   price      106 non-null    object
dtypes: float64(2), object(3)
memory usage: 4.3+ KB